.DS_Store
.ctrlp
scenes/
inputs/
doc/*/main.sh
doc/*/*/main.run.xml
*.tmp
msc-thesis.sublime-workspace
*.png
*.out
*.err
kbest_times.csv
.metadata
build/
bin/
.cscope.files
tags
.tags
.tags_sorted_by_file

*.vsdx

# Latex
_inputs.tex
_sections.tex
_appendixes.tex
bash.out
main-blx.bib
*.pdf
*.aux
*.bbl
*.blg
*.bcf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.loa
*.lol
*.tdo
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.fls
*.nls
